.default-layout-admin {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(196, 196, 196, 0.3);
    display: grid;
    grid-template-columns: 20% 80%;
}

.admin-sidebar {
    background-color: #FFFFFF;

    height: 100vh;
}

.admin-children {

    height: 100vh;
}