.manager-header {
    border-radius: 10px;
}

.manager-content {
    border-radius: 10px;
    padding: 20px 20px;
    background-color: #FFFFFF;
    margin: 10px 0px;
}

.manager-content::-webkit-scrollbar {
    display: none;
}

.gutter-row::-webkit-scrollbar {
    display: none;
}

.ant-btn-default {
    border: 1px solid #9F78FF !important;
    color: #9F78FF;
    transition: 0.8s;
    font-weight: 700;
}

.ant-btn-default:hover,
.ant-btn-default:focus {
    color: #fff !important;
    box-shadow: inset 11em 0 0 0 #9F78FF;
}

.ant-btn-icon-only.ant-input-search-button {
    background-color: #9F78FF;
    color: #FFFFFF !important;

}

.ant-input-outlined:hover {
    border: 1px solid #9F78FF !important;
    box-shadow: none !important;
}

.ant-steps-item-active .ant-steps-item-icon {
    background-color: #9F78FF !important;
    border: 1px solid #9F78FF !important;
}

.ant-btn-primary {
    background-color: #9F78FF !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
    background-color: #9f78ff4f !important;
    color: #9F78FF !important;
}

.ant-steps-finish-icon {
    color: #9F78FF !important;
}

.ant-btn-dangerous {
    background-color: red !important;
}

.ant-btn .ant-btn-primary .ant-btn-icon-only {
    background-color: blue !important;
}

.ant-select-selection-overflow {

    height: 100px;
    overflow-y: scroll;
}

.ant-select-selection-overflow::-webkit-scrollbar {
    display: none;
}

.ant-select-selection-overflow-item {
    padding: 5px;
    text-align: center;

}


.ant-select-selection-item span {
    font-size: 18px;
    width: 50px;

}

.ant-select-selection-overflow-item .ant-select-selection-item {
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9e78ff1a !important;
    border: 1px solid #9F78FF !important;
    color: #9F78FF !important;
    margin: 10px;
}

.ant-select-selection-item-remove span {
    color: #9F78FF !important;
}


.anticon.anticon-down.ant-select-suffix {
    font-size: 20px;
}

.anticon.anticon-search.ant-select-suffix {
    font-size: 20px;
}

.ant-select-selector:hover {
    border: 1px solid #9F78FF !important;
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
    width: 130px !important;
    height: 130px !important;
    margin: 0;
}