.container-wrapper {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}

.section-wrapper {
    padding-top: 128px;
}

.footer-container {
    position: absolute;
    bottom: 20px;
    z-index: 1000;
}