.admin-account-customer-main-container {

    width: 100%;
}

.admin-account-custommer-header {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 97%;
    height: 190px;
    margin: 20px 30px;
}

.admin-account-customer-content {
    background-color: #FFFFFF;
    width: 97%;
    height: 545px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 30px;
}

.admin-account-staff-main-container {
    position: relative;
}

.admin-account-staff-header {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 80vw;
    height: 190px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.admin-account-staff-content {
    background-color: #FFFFFF;
    width: 80vw;
    height: 545px;
    position: absolute;
    left: 30px;
    top: 220px;
    border-radius: 10px;
    padding: 20px;
}

/* .admin-account-manager-main-container {
    position: relative;
}

.admin-account-manager-header {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 1180px;
    height: 190px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.admin-account-manager-content {
    background-color: #FFFFFF;
    width: 1180px;
    height: 545px;
    position: absolute;
    left: 30px;
    top: 220px;
    border-radius: 10px;
    padding: 20px;
} */

.admin-account-system-main-container {
    position: relative;
}

.admin-account-system-header {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 1180px;
    height: 190px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.admin-account-system-content {
    background-color: #FFFFFF;
    width: 1180px;
    height: 545px;
    position: absolute;
    left: 30px;
    top: 220px;
    border-radius: 10px;
    padding: 20px;
    overflow-y: scroll;

}

.admin-account-system-content::-webkit-scrollbar {
    display: none;
}

.modal-account-admin::-webkit-scrollbar {
    display: none;
}

.admin-paginate {
    display: flex;
    justify-content: center;
}


.pagination {
    color: #000000;
}

.page-item-previous {
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-right: 10px;
}

.page-item-next {
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-left: 10px;
    color: black !important;
}

.page-item {
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0 10px;
}

.active {
    background-color: #172039;
    color: #FFFFFF;
}

.active:hover {
    color: #FFFFFF;

}