.header-container {
    width: 100vw;
    background-color: #fffcfc;
    height: 128px;
    position: fixed;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 50px;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: 0 2px #dddbdb3e;
}

.subtitle {
    font-weight: 600;

}

.header-logo {
    width: 200px;
}

.header-menu-wrapper {
    display: flex;
    justify-self: center;
    float: left;
}

.header-menu {
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}

.header-end {
    display: flex;
    width: 400px;
    justify-content: flex-end;
    align-items: center;
    float: right;
    padding-right: 70px;
}

.gray {
    color: #999999;
}

.dark {
    color: dark;
}

.wrapper-shopping {
    background-color: #9F78FF;
    width: 70px;
    height: 40px;
    text-align: center;
    align-content: center;
}

.header-end .navbar-items {
    padding: 0 20px;
}

.login {
    cursor: pointer;
}

.user-logo:hover {
    background-color: #fff !important;
}

.navbar-items h1 {
    font-weight: 400;
}

.ant-popover-placement-bottom {
    z-index: 100001;
}

.ant-popover-arrow {
    z-index: 100001;
}

.readmore-btn {
    border: none !important;
    cursor: pointer;
    background-color: #ffffff;
}
