.catalogue-wrapper {
    margin: 0
}

.catalog-section-1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 50px;
    margin: 0 40px;
    padding: 10px 0 30px 0;

}

.catalog-1 {
    display: flex;
    justify-content: end;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin: 5px;
    height: 400px;
    margin-top: 0;
    box-shadow: 5px 10px 18px #888888;
}

.catalog-1:hover img {
    transform: scale(1.4);
    filter: opacity(.9);

}

.catalog-1 img {
    transition: transform .8s ease;
    overflow: hidden;
}

.details-product {
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: #313132a7;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    z-index: 2;
    align-items: center;
    display: flex;
    transition: 0.7s;
}

.details-product .title {
    color: #fff;
}

.catalog-1:hover .details {
    bottom: 0;
    background-color: #000000a7;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.219);
    z-index: 3;
}

.header-catalog-title {
    display: flex;
    position: relative;
    margin-top: 40px;
    height: 80px;
    margin: 20px 40px 0 40px;
    align-items: center;

}

.view-more-btn {
    position: absolute;
    right: 0;
    height: 40px;
    align-items: center;
    border-bottom: 1px solid rgb(159, 120, 255);
    display: flex;
    transition: 0.8s;
    margin: 10px;
    padding: 14px;
}

.view-more-btn>p {
    color: rgb(159, 120, 255);
}


.view-more-btn:hover,
.view-more-btn:focus {
    box-shadow: inset 11em 0 0 0 #5c429e;
}

.view-more-btn:hover>p {
    color: #fff;
}